aiohttp==3.7.4
aiosqlite==0.17.0
async_timeout==3.0.1
beautifulsoup4==4.10.0
Pillow==10.1.0
protobuf==3.19.5
python-dotenv==0.19.2
pytz==2020.1
google-cloud-error-reporting==1.4.0
PyNaCl==1.4.0
html5lib==1.1
discord.py[speed,voice]==2.3.1
aiofiles==22.1.0
grpcio==1.40.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.20.9
parsedatetime==2.6
mypy==1.8.0
mypy-extensions==1.0.0
humanfriendly==10.0
git+https://github.com/Rapptz/discord-ext-menus@master # menus
# pip install -r requirements.txt --use-deprecated=legacy-resolver
# -- grpcio --
# https://github.com/grpc/grpc/issues/24249#issuecomment-972555615
# sudo find / -type f -name '*atom*.so*'
# export LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libatomic.so.1.2.0