name: Linting
on: [pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ruff check
        uses: astral-sh/ruff-action@v3
        with:
          version-file: 'requirements.txt'
          args: 'check'
      - name: ruff format check
        uses: astral-sh/ruff-action@v3
        with:
          version-file: 'requirements.txt'
          args: 'format --check'