name: Type Checking
on: [pull_request]

jobs:
  type_checking:
    name: Type Checking
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.14'
    - run: pip install --upgrade pip
    - run: pip install -r requirements.txt --use-deprecated=legacy-resolver
    - run: pip install types-aiofiles types-Pillow types-beautifulsoup4 types-pytz types-humanfriendly
    - run: mypy cogs utils main.py --explicit-package-bases --strict